<div class="container padding-header">
<div class="row">
  <div class="col-6 flex-menu-space-around text-span">
  <span>
    First
  </span>

  <span>
    Second
  </span>

  <span>
    Телеканалы
  </span>
</div>


<div class="col-6 flex-menu-flex-end">
  <button (click)="sortButton()">
    Сортировка
    <span *ngIf="this.serverData.sortFlag"> (А-Я)</span>
    <span *ngIf="!this.serverData.sortFlag && this.serverData.apiVar"> (Я-А)</span>
  </button>


  <button >
    Телеканалы
  </button>

</div>
</div>
</div>
