.flex-menu-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-menu-flex-end {
display: flex;
justify-content: flex-end;
}
.text-span {
  color:white;
  font-size: 14px;
  cursor: pointer;
}
.text-span span:hover {
  color:#BA9D5A;
  border-bottom: solid #BA9D5A 2px;
}
.padding-header {
  padding-top: 45px;
  padding-bottom: 22px;
}
